<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wms_scan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.WMSScan">
        <activity
            android:name=".ui.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CartonDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QrCodeGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScanCartonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WarehouseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PalletsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShelfActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RacksActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddUpdatePalletDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddUpdateShelfDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddUpdateRackDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateCartonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NoNetworkActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScannerCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WarehouseDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>